* {
    box-sizing: border-box;
}

.mdl-layout__drawer-button {
    outline: none;
}
.mdl-layout__drawer {
    border: none;
}
.mdl-navigation > .mdl-navigation__link:hover {
    background-coLor: #D32F2F !important;
    color: #222;
}
.mdl-navigation__link .material-icons {
    margin-right: 32px;
}

main {
    background-color: #eee
}

