.logo {
    height: 56px;
    margin: 2px 1em 0 0;
}

#loading {
    display: block;
    margin: 20vh auto;
    width: 48px;
    height: 48px;
}

.chart-card {
    justify-content: space-between;
}

#temp, #pres, #alt {
    font-size: 6em;
    padding: 1rem;
    line-height: 1;
    color: #a0a0b0;
}

.time-card {
    justify-content: center;
}
#time {
    text-align: center;
    font-size: 4em;
    line-height: 1;
    font-weight: bold;
    color: #444;
}

.chart {
    margin: 0.5em 1em 0.5em 0.5em;
}
